<div class="col-xs-12" style="padding: 0px">
    <a class="btn btn-info add-row" href="index.html#/sfc/metadata-context-create">
        {{'SFC_METADATA_CONTEXT_ADD' | translate}}
    </a>

    <button type="button" ng-click="contextMetadataTableParams.sorting({})"
            class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' | translate}}
    </button>

    <table ng-table="contextMetadataTableParams" show-filter="true" class="footable table">
        <tr ng-repeat="entry in $data track by $index">
            <td data-title="'SFC_METADATA_CONTEXT_NAME' | translate" sortable="'name'" filter="{ 'name': 'text' }">
                {{entry['name']}}
            </td>
            <td data-title="'SFC_METADATA_CONTEXT_HEADER1' | translate" sortable="'valueOf([\'context-header1\'])'"
                filter="{ 'context-header1': 'text' }">
                {{entry['context-header1']}}
            </td>
            <td data-title="'SFC_METADATA_CONTEXT_HEADER2' | translate" sortable="'valueOf([\'context-header2\'])'"
                filter="{ 'context-header2': 'text' }">
                {{entry['context-header2']}}
            </td>
            <td data-title="'SFC_METADATA_CONTEXT_HEADER3' | translate" sortable="'valueOf([\'context-header3\'])'"
                filter="{ 'context-header3': 'text' }">
                {{entry['context-header3']}}
            </td>
            <td data-title="'SFC_METADATA_CONTEXT_HEADER4' | translate" sortable="'valueOf([\'context-header4\'])'"
                filter="{ 'context-header4': 'text' }">
                {{entry['context-header4']}}
            </td>
            <td data-title="'SFC_METADATA_ACTIONS' | translate">
                <a ng-click="deleteContextItem(entry)">
                    <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                       popover="{{ 'SFC_METADATA_DELETE' | translate }}"></i>
                </a>
                <a ng-click="editContextItem(entry)">
                    <i class="icon-edit" style="cursor: pointer" popover-trigger="mouseenter"
                       popover="{{ 'SFC_METADATA_EDIT' | translate }}"></i>
                </a>
            </td>
        </tr>
    </table>
    <button type="button" ng-click="deleteAllContextMetadata()" class="btn btn-danger pull-right" style="margin-bottom: 20px">
        {{'SFC_DELETE_ALL' | translate}}
    </button>

    <div class="col-md-12" style="padding: 0; margin-bottom: 20px; margin-top: 20px">
        <a class="btn btn-info add-row" href="index.html#/sfc/metadata-variable-create">
        {{'SFC_METADATA_VARIABLE_ADD' | translate}}
        </a>

        <button type="button" ng-click="variableMetadataTableParams.sorting({})"
                class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' | translate}}
        </button>
    </div>



    <table ng-table="variableMetadataTableParams" show-filter="true" class="footable table">
        <tr ng-repeat="entry in $data track by $index">
            <td data-title="'SFC_METADATA_VARIABLE_NAME' | translate" sortable="'name'" filter="{ 'name': 'text' }">
                {{entry['name']}}
            </td>
            <td data-title="'SFC_METADATA_VARIABLE_TLV_CLASS' | translate" sortable="'valueOf([\'tlv-class\'])'"
                filter="{ 'tlv-class': 'text' }">
                {{entry['tlv-class']}}
            </td>
            <td data-title="'SFC_METADATA_VARIABLE_TLV_TYPE' | translate" sortable="'valueOf([\'tlv-type\'])'"
                filter="{ 'tlv-type': 'text' }">
                {{entry['tlv-type']}}
            </td>
            <td data-title="'SFC_METADATA_VARIABLE_FLAGS' | translate" sortable="'valueOf([\'flags\'])'"
                filter="{ 'flags': 'text' }">
                {{entry['flags']}}
            </td>
            <td data-title="'SFC_METADATA_VARIABLE_LENGTH' | translate" sortable="'valueOf([\'length\'])'"
                filter="{ 'length': 'text' }">
                {{entry['length']}}
            </td>
            <td data-title="'SFC_METADATA_VARIABLE_DATA' | translate" sortable="'valueOf([\'tlv-data\'])'"
                filter="{ 'tlv-data': 'text' }">
                {{entry['tlv-data']}}
            </td>
            <td data-title="'SFC_METADATA_ACTIONS' | translate">
                <a ng-click="deleteVariableItem(entry)">
                    <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                       popover="{{ 'SFC_METADATA_DELETE' | translate }}"></i>
                </a>
                <a ng-click="editVariableItem(entry)">
                    <i class="icon-edit" style="cursor: pointer" popover-trigger="mouseenter"
                       popover="{{ 'SFC_METADATA_EDIT' | translate }}"></i>
                </a>
            </td>
        </tr>
    </table>
    <button type="button" ng-click="deleteAllVariableMetadata()" class="btn btn-danger pull-right">
        {{'SFC_DELETE_ALL' | translate}}
    </button>

</div>