[access]
	inheritFrom = All-Projects
[project]
	description = Service Function Chaining
[access "refs/*"]
	owner = group ldap/gerrit-sfc-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-sfc-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-Interactive sfc users
	forgeAuthor = group Non-Interactive sfc users
	forgeCommitter = group Non-Interactive sfc users
	push = group Non-Interactive sfc users
	pushMerge = group Non-Interactive sfc users
	label-Code-Review = -2..+2 group ldap/gerrit-sfc-committers
	label-Code-Review = -1..+1 group Non-Interactive sfc users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive sfc users
	label-Verified = -1..+1 group ldap/gerrit-sfc-committers
	submit = group ldap/gerrit-sfc-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-sfc-committers
	push = group Non-Interactive sfc users
	push = group ldap/gerrit-sfc-committers
	pushTag = group Non-Interactive sfc users
	pushTag = group ldap/gerrit-sfc-committers
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
