[access]
	inheritFrom = All-Projects
[project]
	description = Service Function Chaining
[access "refs/*"]
	owner = group ldap/gerrit-sfc-committers
	read = group GitHub Replication
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
