<div class="form-horizontal" ng-form="f_ethernet">
<!--
    <h3>{{'SFC_ACL_ETHERNET_MATCHES' | translate}}</h3>
-->

    <div class="form-group" show-validation-error>
        <label for="acl_source_mac_add{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_SOURCE_MAC_ADDRESS' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['source-mac-address']"
                   id="acl_source_mac_add{{idSuffix}}" name="source-mac-address"
                   placeholder="{{'SFC_ACL_CREATE_SOURCE_MAC_ADDRESS' | translate}}"
                   mac-address>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="acl_source_mac_add_mask{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_SOURCE_MAC_ADDRESS_MASK' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['source-mac-address-mask']"
                   id="acl_source_mac_add_mask{{idSuffix}}" name="source-mac-address-mask"
                   placeholder="{{'SFC_ACL_CREATE_SOURCE_MAC_ADDRESS_MASK' | translate}}"
                   mac-address>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="acl_dest_mac_add{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_DESTINATION_MAC_ADDRESS' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['destination-mac-address']"
                   id="acl_dest_mac_add{{idSuffix}}" name="destination-mac-address"
                   placeholder="{{'SFC_ACL_CREATE_DESTINATION_MAC_ADDRESS' | translate}}"
                   mac-address>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="acl_dest_mac_add_mask{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_DESTINATION_MAC_ADDRESS_MASK' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['destination-mac-address-mask']"
                   id="acl_dest_mac_add_mask{{idSuffix}}" name="destination-mac-address-mask"
                   placeholder="{{'SFC_ACL_CREATE_DESTINATION_MAC_ADDRESS_MASK' | translate}}"
                   mac-address>
        </div>
    </div>

</div>