<form class="form-horizontal" role="form" id="createForm" name="createForm">
    <div class="col-md-5">
        <h3>{{'SFC_CHAIN' | translate}}</h3>

        <div class="formElement">
            <div class="form-group" show-validation-error>
                <label for="name" class="col-lg-6 control-label small-label">{{'SFC_CHAIN_NAME' | translate}}</label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data.name" id="name" name="name"
                           placeholder="{{'SFC_CHAIN_CREATE_NAME' | translate}}" required focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group">
                <label for="symmetric" class="col-lg-6 control-label small-label">{{'SFC_CHAIN_SYMMETRIC' |
                    translate}}</label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="symmetric" ui-select2="{allowClear: true}" ng-model="data.symmetric"
                            ng-required="false"
                            data-placeholder="{{'SFC_CHAIN_CREATE_SYMMETRIC' | translate}}">
                        <option value=""></option>
                        <option value="true">{{'SFC_TRUE' | translate}}</option>
                        <option value="false">{{'SFC_FALSE' | translate}}</option>
                    </select>
                </div>
            </div>

        </div>
        <button-submit type="submit" form="createForm" function="submit"></button-submit>
        <button-cancel type="button" state="main.sfc.servicechain"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>

