<div class="modal-header btn-info">
    <h4 class="modal-title">{{'SFC_CHAIN_MODAL_INSTANTIATE' | translate}} '{{sfc.name}}'</h4>
</div>
<div class="modal-body form-horizontal" ng-form="f_path_name">

    <div class="form-group" show-validation-error>
        <label style="color:#444 !important;" for="name"
               class="col-lg-6 control-label small-label">{{'SFC_CHAIN_MODAL_PATH_NAME'
            | translate}}</label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="data.name"
                   placeholder="{{'SFC_CHAIN_MODAL_PATH_NAME_HINT' | translate}}"
                   id="name" name="name" required focus-me="{{true}}">
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label style="color:#444 !important;" for="name"
               class="col-lg-6 control-label small-label">{{'SFC_CHAIN_MODAL_SCHED_TYPE'
            | translate}}</label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="sf-sched-type" name="type" ui-select2="{allowClear: true}" ng-model="data.type" ng-required="false" place-holder="Select a type">
                <option value="">{{'SFC_CHAIN_MODAL_SCHED_TYPE_HINT' | translate}}</option>
                <option label="Random" value="random">{{'SFC_CHAIN_MODAL_SCHED_TYPE_RANDOM' | translate}}</option>
                <option label="RoundRobin" value="round-robin">{{'SFC_CHAIN_MODAL_SCHED_TYPE_ROUND_ROBIN' | translate}}</option>
                <option label="LoadBalance" value="load-balance">{{'SFC_CHAIN_MODAL_SCHED_TYPE_LOAD_BALANCE' | translate}}</option>
                <option label="ShortestPath" value="shortest-path">{{'SFC_CHAIN_MODAL_SCHED_TYPE_SHORTEST_PATH' | translate}}</option>
                <option label="WShortestPath" value="weighted-shortest-path">{{'SFC_CHAIN_MODAL_SCHED_TYPE_WEIGHTED_SP' | translate}}</option>
                <option label="UserDefined" value="user-defined">{{'SFC_CHAIN_MODAL_SCHED_TYPE_USER_DEFINED' | translate}}</option>
            </select>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-orange" ng-disabled="!(!!data.name)"  ng-click="save()"><i class="icon-ok-sign"></i> {{'SFC_CHAIN_MODAL_OK' | translate}}</button>
    <button class="btn btn-danger" ng-click="dismiss()"><i class="icon-remove-sign"></i> {{'SFC_CHAIN_MODAL_CANCEL' | translate}}</button>
</div>
