<div class="modal-header btn-info">
    <h4 class="modal-title">{{'SFC_CHAIN_MODAL_INFO_1' | translate}} '{{sf.type}}' {{'SFC_CHAIN_MODAL_INFO_2' | translate}} '{{sfc.name}}'</h4>
</div>
<div class="modal-body" style="text-align: center;" ng-form="f_sf_name">
    <p>{{'SFC_CHAIN_MODAL_TIP' | translate}}</p>

    <div class="form-group">
        <input type="text" class="input-sm" style="text-align: right;" ng-model="data.prefix" id="prefix" placeholder="prefix">
        -{{sf.type}}-
        <input type="text" class="input-sm" ng-model="data.sufix" id="sufix" placeholder="sufix">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-orange" ng-disabled="!(!!data.sufix || !!data.prefix)"  ng-click="save()"><i class="icon-ok-sign"></i> {{'SFC_CHAIN_MODAL_OK' | translate}}</button>
    <button class="btn btn-danger" ng-click="dismiss()"><i class="icon-remove-sign"></i> {{'SFC_CHAIN_MODAL_CANCEL' | translate}}</button>
</div>