<configuration scan="true" debug="true">

    <appender name="sfc.log" class="ch.qos.logback.core.FileAppender">
        <file>logs/sfc.log</file>
        <encoder>
            <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSS z"} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="sfc.syslog" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>user</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <logger name="org.opendaylight.sfc.provider" level="ERROR">
        <appender-ref ref="sfc.log" />
        <appender-ref ref="sfc.syslog" />
    </logger>

</configuration>
