<div class="col-xs-12" style="padding: 0px">
    <div class="container col-xs-12 col-md-12 col-lg-8">
        <form role="form" name="jsonConfigForm">
            <div class="form-group">
                <label for="config_content">{{'SFC_CONFIG_JSON_CONTENT' | translate}}</label>
                <textarea id="config_content" style="width: 100%;" rows="20" wrap="soft"
                          ng-model="fileContent"></textarea>
                <button type="button" class="btn btn-primary" ng-click="applyConfig()">{{'SFC_CONFIG_APPLY' |
                    translate}}
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportConfig()">{{'SFC_CONFIG_EXPORT' |
                    translate}}
                </button>
                <span style="display: inline-block; width: 10px;"></span>
                <input type="checkbox" id="validateBefore" ng-model="validateBefore" class="ng-valid ng-dirty">
                <label for="validateBefore">Validate to {{validationRevision}} before apply</label>
            </div>
        </form>

        <form role="form" name="jsonLoadForm">
            <div class="form-group">
                <label for="select_file">{{'SFC_CONFIG_FILE' | translate}}</label>
                <input id="select_file" type="file" class="form-control input-sm"
                       ng-file-select="onFileSelect($files)"/>
            </div>
        </form>

        <form role="form" name="jsonBaseUrlForm">
            <div class="form-group">
                <label for="rest_url">{{'SFC_RESTCONF_URL' | translate}}</label>
                <input id="rest_url" type="text" class="form-control input-sm" ng-model="$storage.restangularBaseUrl"
                       ng-required="true"/>
                <button type="submit" class="btn btn-primary" ng-click="applyBaseUrl()">{{'SFC_CONFIG_APPLY' |
                    translate}}
                </button>
            </div>
        </form>
    </div>
</div>