<a ng-click="showPopUp()" style="cursor: pointer">
    {{'SFC_ACL_SHORT_METADATA_CONTEXT' | translate}}{{sfp['context-metadata'] ? ': ' + sfp['context-metadata'] : ''}}
</a>

<div class="popUp modal-content" ng-show="popUpVisible">
    <div class="modal-header btn-info">
        <h4 class="modal-title">{{'SFC_PATH_MODAL_SELECT_METADATA' | translate}} '{{sfp.name}}'</h4>
    </div>

    <div class="modal-body form-horizontal" ng-form="f_context_metadata">

        <div ng-show="sfp['rendered-service-path-hop']" class="form-group">
            <label style="color:#444 !important;" for="context_metadata_name_{{idSuffix}}"
                   class="col-lg-6 control-label small-label">{{'SFC_PATH_MODAL_SELECT_CONTEXT_METADATA'
                | translate}}</label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="selectedMetadata"
                       id="context_metadata_name_{{idSuffix}}" name="context_metadata_name" readonly>
            </div>
        </div>

        <div ng-hide="sfp['rendered-service-path-hop']" class="form-group" show-validation-error>
            <label style="color:#444 !important;" for="context_metadata_{{idSuffix}}" class="col-lg-6 control-label small-label" ui-select2-label="context_metadata">
                {{'SFC_PATH_MODAL_SELECT_CONTEXT_METADATA' | translate}}
            </label>

            <div class="col-lg-6">
                <select class="form-control input-sm" id="context_metadata_{{idSuffix}}" name="context_metadata" ui-select2="{allowClear: true}"
                        ng-model="selectedMetadata" ng-required="false"
                        data-placeholder="{{'SFC_PATH_MODAL_CREATE_SELECT_CONTEXT_METADATA' | translate}}">

                    <option value=""></option>
                    <option ng-repeat="item in contextMetadata" value="{{item.name}}">{{item.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="context_header1_{{idSuffix}}"
                   class="col-lg-6 control-label small-label">{{'SFC_METADATA_CONTEXT_HEADER1'
                | translate}}</label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="data['context-header1']"
                       id="context_header1_{{idSuffix}}" name="context_header1"
                       placeholder="{{'SFC_METADATA_CREATE_CONTEXT_HEADER' | translate}}"
                       uint32 readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="context_header2_{{idSuffix}}"
                   class="col-lg-6 control-label small-label">{{'SFC_METADATA_CONTEXT_HEADER2'
                | translate}}</label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="data['context-header2']"
                       id="context_header2_{{idSuffix}}" name="context_header2"
                       placeholder="{{'SFC_METADATA_CREATE_CONTEXT_HEADER' | translate}}"
                       uint32 readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="context_header3_{{idSuffix}}"
                   class="col-lg-6 control-label small-label">{{'SFC_METADATA_CONTEXT_HEADER3'
                | translate}}</label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="data['context-header3']"
                       id="context_header3_{{idSuffix}}" name="context_header3"
                       placeholder="{{'SFC_METADATA_CREATE_CONTEXT_HEADER' | translate}}"
                       uint32 readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="context_header4_{{idSuffix}}"
                   class="col-lg-6 control-label small-label">{{'SFC_METADATA_CONTEXT_HEADER4'
                | translate}}</label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="data['context-header4']"
                       id="context_header4_{{idSuffix}}" name="context_header4"
                       placeholder="{{'SFC_METADATA_CREATE_CONTEXT_HEADER' | translate}}"
                       uint32 readonly>
            </div>
        </div>
    </div>
    <button class="close" ng-click="closePopUp()">&times;</button>
    <div class="modal-footer">
        <button class="btn btn-orange"
                ng-click="save()"><i class="icon-ok-sign"></i> {{'SFC_CHAIN_MODAL_OK' | translate}}
        </button>
        <button class="btn btn-danger" ng-click="closePopUp()"><i class="icon-remove-sign"></i> {{'SFC_CHAIN_MODAL_CANCEL'
            | translate}}
        </button>
    </div>
</div>