<div>
    <div class="form-group" show-validation-error>
        <label class="col-lg-6 control-label small-label" ui-select2-label="sff{{idSuffix}}">
            {{'SFC_CLASSIFIER_SERVICE_FORWARDER' | translate}}
        </label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="sff{{idSuffix}}" name="sff" ui-select2="{allowClear: true}"
                    ng-model="sff['name']" ng-required="true" ng-change="resetAttachmentPointType(sff)"
                    data-placeholder="{{'SFC_CLASSIFIER_CREATE_SERVICE_FORWARDER' | translate}}">

                <option value=""></option>
                <option ng-repeat="sff in sffs" value="{{sff['name']}}">{{sff['name']}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-show="sff['name']" show-validation-error="">
        <label class="col-lg-6 control-label small-label" ui-select2-label="sff_attachment_point{{idSuffix}}">
            {{'SFC_CLASSIFIER_ATTACHMENT_POINT_TYPE' | translate}}
        </label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="sff_attachment_point{{idSuffix}}" name="sff_attachment_point"
                    ui-select2="{allowClear: true}" ng-model="attachmentPointType" ng-required="false"
                    data-placeholder="{{'SFC_CLASSIFIER_CREATE_ATTACHMENT_POINT_TYPE' | translate}}"
                    ng-change="resetAttachmentPoints(sff)">

                <option value=""></option>
                <option ng-repeat="t in classifierConstants['attachment-point-type']" value="{{t}}">{{t}}</option>
            </select>
        </div>
    </div>

    <div ng-if="attachmentPointType == classifierConstants['attachment-point-type'][0]" class="form-group" show-validation-error>

        <label class="col-lg-6 control-label small-label" ui-select2-label="bridge{{idSuffix}}">
            {{'SFC_CLASSIFIER_ATTACHMENT_POINT_BRIDGE_NAME' | translate}}
        </label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="bridge{{idSuffix}}" name="bridge" ui-select2="{allowClear: true}"
                    ng-model="sff['bridge']" ng-required="false"
                    data-placeholder="{{'SFC_CLASSIFIER_CREATE_ATTACHMENT_POINT_BRIDGE_NAME' | translate}}">

                <option value=""></option>
                <option ng-repeat="br in brNames" value="{{br}}">{{br}}</option>
            </select>
        </div>
    </div>

    <div ng-if="attachmentPointType == classifierConstants['attachment-point-type'][1]" class="form-group" show-validation-error>
        <label for="interface{{idSuffix}}" class="col-lg-6 control-label small-label">{{'SFC_CLASSIFIER_ATTACHMENT_POINT_INTERFACE_NAME' |
            translate}}</label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="sff['interface']" id="interface{{idSuffix}}" name="interface"
                   placeholder="{{'SFC_CLASSIFIER_CREATE_ATTACHMENT_POINT_INTERFACE_NAME' | translate}}">
        </div>
    </div>
</div>