<form role="form" id="createForm" name="createForm">
    <div class="col-md-12 form-horizontal">
        <div class="col-md-6" style="padding: 0">
            <h3>
                {{'SFC_ACL' | translate}}
                <sfc-data-template template-data-model="data"
                                   default-template-data-model="defaultTemplates['aclDefault']"
                                   dialog-id="createAcl"></sfc-data-template>
            </h3>

            <div class="formElement">
                <div class="form-group" show-validation-error>
                    <label for="acl-name" class="col-lg-6 control-label small-label">{{'SFC_ACL_NAME' |
                        translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="data['acl-name']" id="acl-name" name="acl-name"
                               placeholder="{{'SFC_ACL_CREATE_NAME' | translate}}" required focus-me="{{true}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6"></div>
    </div>

    <div class="col-md-12 form-horizontal">
        <h3>{{'SFC_ACL_ACE' | translate}}</h3>
        <div ui-sortable="sortableOptions">
        <div class="col-md-12 formElement has-feedback transition"
             ng-form="acl_entry_form_{{$index}}"
             ng-repeat="ace in data['access-list-entries']['ace'] track by $index"
             >

            <div class="col-md-12"
                 sfc-watch-for-reinit="ace"
                 ng-init="ace['matches']= (ace['matches'] || {}); ace['matches']['absolute-time']= (ace['matches']['absolute-time'] || {});
                    ace['actions']= (ace['actions'] || {}); ace_type = valueOfAceType(ace['matches']); ">
                <div style="text-align: right; margin-bottom: 10px">
                    <span class="spanTip">{{ 'SFC_ACL_ACE_REMOVE' | translate }}</span>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="removeAce($index)"><i
                            class="icon-minus"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" show-validation-error>
                    <label for="rule-name_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_ACL_RULE_NAME'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="ace['rule-name']"
                               id="rule-name_{{$index}}" name="rule-name"
                               placeholder="{{'SFC_ACL_CREATE_RULE_NAME' | translate}}" required>
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="actions-rsp-name_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_ACL_ACTIONS_RSP_NAME'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="ace['actions']['service-function-acl:rendered-service-path']" id="actions-rsp-name_{{$index}}" name="actions-rsp-name"
                               placeholder="{{'SFC_ACL_CREATE_ACTIONS_RSP_NAME' | translate}}">
                    </div>
                </div>

                <br/>
                <h4>{{'SFC_ACL_METADATA' | translate}}</h4>

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-6 control-label small-label" ui-select2-label="metadata-context_{{$index}}">-->
                        <!--{{'SFC_ACL_METADATA_CONTEXT' | translate}}-->
                    <!--</label>-->

                    <!--<div class="col-lg-6">-->
                        <!--<select class="form-control input-sm" id="metadata-context_{{$index}}" ui-select2-->
                                <!--ng-model="ace['context-metadata']" ng-required="false"-->
                                <!--data-placeholder="{{'SFC_ACL_CREATE_METADATA_CONTEXT' | translate}}" disabled>-->

                            <!--<option value=""></option>-->
                            <!--<option ng-repeat="item in contextMetadata" value="{{item.name}}">{{item.name}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-lg-6 control-label small-label" ui-select2-label="metadata-variable_{{$index}}">-->
                        <!--{{'SFC_ACL_METADATA_VARIABLE' | translate}}-->
                    <!--</label>-->

                    <!--<div class="col-lg-6">-->
                        <!--<select class="form-control input-sm" id="metadata-variable_{{$index}}" ui-select2-->
                                <!--ng-model="ace['variable-metadata']" ng-required="false"-->
                                <!--data-placeholder="{{'SFC_ACL_CREATE_METADATA_VARIABLE' | translate}}" disabled>-->

                            <!--<option value=""></option>-->
                            <!--<option ng-repeat="item in variableMetadata" value="{{item.name}}">{{item.name}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label for="metadata-input-interface_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_ACL_METADATA_INPUT_INTERFACE'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="ace['matches']['input-interface']"
                               id="metadata-input-interface_{{$index}}"
                               placeholder="{{'SFC_ACL_CREATE_METADATA_INPUT_INTERFACE' | translate}}">
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="metadata-absolute-start_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_ACL_METADATA_ABSOLUTE_START'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="ace['matches']['absolute-time']['start']"
                               id="metadata-absolute-start_{{$index}}" name="metadata-absolute-start"
                               placeholder="{{'SFC_ACL_CREATE_METADATA_ABSOLUTE_START' | translate}}"
                               date-and-time>
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="metadata-absolute-end_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_ACL_METADATA_ABSOLUTE_END'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="ace['matches']['absolute-time']['end']"
                               id="metadata-absolute-end_{{$index}}" name="metadata-absolute-end"
                               placeholder="{{'SFC_ACL_CREATE_METADATA_ABSOLUTE_END' | translate}}"
                               date-and-time>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-6 control-label small-label"
                           ui-select2-label="metadata-absolute-active_{{$index}}">
                        {{'SFC_ACL_METADATA_ABSOLUTE_ACTIVE' | translate}}
                    </label>

                    <div class="col-lg-6">
                        <select class="form-control input-sm" id="metadata-absolute-active_{{$index}}" ui-select2="{allowClear: true}"
                                ng-model="ace['matches']['absolute-time']['active']"
                                ng-required="false" ng-init="ace['matches']['absolute-time']['active'] = 'true'"
                                data-placeholder="{{'SFC_ACL_CREATE_METADATA_ABSOLUTE_ACTIVE' | translate}}">
                            <option value=""></option>
                            <option value="true">{{'SFC_TRUE' | translate}}</option>
                            <option value="false">{{'SFC_FALSE' | translate}}</option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-lg-6 control-label small-label" ui-select2-label="ace-type{{$index}}">
                        {{'SFC_ACL_ACE_TYPE' | translate}}
                    </label>

                    <div class="col-lg-6">
                        <select class="form-control input-sm" id="ace-type{{$index}}" ui-select2="{allowClear: true}"
                                ng-model="ace_type" ng-required="false"
                                data-placeholder="{{'SFC_ACL_CREATE_ACE_TYPE' | translate}}"
                                ng-change="$broadcast('ace_type_change', ace_type)">

                            <option value=""></option>
                            <option ng-repeat="t in aclConstants['ace-type']" value="{{t}}">{{t}}</option>
                        </select>
                    </div>
                </div>

                <acl-ip-matches matches="ace['matches']" id-suffix="{{'_' + $index}}" acl-constants="aclConstants"
                                ng-if="ace_type == aclConstants['ace-type'][0]"
                                reset-on="ace_type_change" not-reset-condition="{{aclConstants['ace-type'][0]}}"></acl-ip-matches>
                <acl-ethernet-matches matches="ace['matches']" id-suffix="{{'_' + $index}}"
                                      ng-if="ace_type == aclConstants['ace-type'][1]"
                                      reset-on="ace_type_change" not-reset-condition="{{aclConstants['ace-type'][1]}}"></acl-ethernet-matches>
                <acl-ipfix-matches matches="ace['matches']" id-suffix="{{'_' + $index}}" classid="classid" appid="appid"
                                   ng-if="ace_type == aclConstants['ace-type'][2]"
                                   reset-on="ace_type_change" not-reset-condition="{{aclConstants['ace-type'][2]}}"></acl-ipfix-matches>

            </div>
        </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-12">
            <div style="text-align: right;">
                <span class="spanTip">{{ 'SFC_ACL_ACE_ADD' | translate }}</span>
                <button type="button" class="btn btn-xs btn-primary" ng-click="addAce()"><i class="icon-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="col-md-12">
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.acl"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>