<div class="modal-header btn-info">
    <h4 class="modal-title">{{'SFC_ACL_METADATA_MODAL_HEAD' | translate}}: '{{ace['rule-name']}}'</h4>
</div>

<div class="modal-body" style="text-align: left;">
    <p>
        <b>{{'SFC_ACL_METADATA' | translate}}: </b>
    </p>
    <br/>

    <div class="form-horizontal">
        <!--<div class="form-group">-->
            <!--<label style="color:#444 !important;" for="context_metadata" class="col-lg-6 control-label small-label">-->
                <!--{{'SFC_ACL_METADATA_CONTEXT' | translate}}-->
            <!--</label>-->

            <!--<div class="col-lg-6">-->
                <!--<input type="text" class="form-control input-sm" ng-model="ace['context-metadata']"-->
                       <!--id="context_metadata" readonly>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label style="color:#444 !important;" for="variable_metadata" class="col-lg-6 control-label small-label">-->
                <!--{{'SFC_ACL_METADATA_VARIABLE' | translate}}-->
            <!--</label>-->

            <!--<div class="col-lg-6">-->
                <!--<input type="text" class="form-control input-sm" ng-model="ace['variable-metadata']"-->
                       <!--id="variable_metadata" readonly>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label style="color:#444 !important;" for="input_interface" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_METADATA_INPUT_INTERFACE' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="ace['matches']['input-interface']"
                       id="input_interface" readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="absolute_start" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_METADATA_ABSOLUTE_START' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="ace['matches']['absolute-time']['start']"
                       id="absolute_start" readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="absolute_end" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_METADATA_ABSOLUTE_END' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="ace['matches']['absolute-time']['end']"
                       id="absolute_end" readonly>
            </div>
        </div>

        <div class="form-group">
            <label style="color:#444 !important;" for="absolute_active" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_METADATA_ABSOLUTE_ACTIVE' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="ace['matches']['absolute-time']['active']"
                       id="absolute_active" readonly>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-info" ng-click="dismiss()"><i class="icon-remove-sign"></i> {{'SFC_ACL_METADATA_MODAL_CLOSE'
        | translate}}
    </button>
</div>