<div class="form-horizontal"
     ng-form="f_ip"
     sfc-watch-for-reinit="matches"
     ng-init="sourcePortRangeCheck = (!!matches['source-port-range']);
      destinationPortRangeCheck = (!!matches['destination-port-range']);
      ace_ip = valueOfIpVersion(matches);"
        >
    <!--
        <h3>{{'SFC_ACL_IP_MATCHES' | translate}}</h3>
    -->

    <div>
        <div class="form-group">

            <label class="col-lg-6 control-label small-label">
                <input type="checkbox" ng-model="sourcePortRangeCheck" name="sourcePortRangeCheck"
                       ng-change="onSourcePortRangeCheckChanged(sourcePortRangeCheck)">
                {{'SFC_ACL_SRC_PORT_RANGE' | translate}}
            </label>

            <div class="col-lg-6"  >

            </div>
        </div>

        <div class="form-group" ng-if="matches['source-port-range']" show-validation-error>
            <label for="acl_source_lower_port{{idSuffix}}" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_SRC_LOW_PORT' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="matches['source-port-range']['lower-port']"
                       id="acl_source_lower_port{{idSuffix}}" name="src-lower-port"
                       placeholder="{{'SFC_ACL_CREATE_SRC_LOW_PORT' | translate}}"
                       port required>
            </div>
        </div>

        <div class="form-group" ng-if="matches['source-port-range']" show-validation-error>
            <label for="acl_source_upper_port{{idSuffix}}" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_SRC_UPPER_PORT' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="matches['source-port-range']['upper-port']"
                       id="acl_source_upper_port{{idSuffix}}" name="src-upper-port"
                       placeholder="{{'SFC_ACL_CREATE_SRC_UPPER_PORT' | translate}}"
                       port ng-disabled="matches['source-port-range'] === undefined">
            </div>
        </div>
    </div>


    <div>
        <div class="form-group">

            <label class="col-lg-6 control-label small-label">
                <input type="checkbox" ng-model="destinationPortRangeCheck" name="destinationPortRangeCheck"
                       ng-change="onDestinationPortRangeCheckChanged(destinationPortRangeCheck)">
                {{'SFC_ACL_DST_PORT_RANGE' | translate}}
            </label>

            <div class="col-lg-6">

            </div>
        </div>

        <div class="form-group" ng-if="matches['destination-port-range']" show-validation-error>
            <label for="acl_dst_lower_port{{idSuffix}}" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_DST_LOW_PORT' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm"
                       ng-model="matches['destination-port-range']['lower-port']"
                       id="acl_dst_lower_port{{idSuffix}}" name="dst-lower-port"
                       placeholder="{{'SFC_ACL_CREATE_DST_LOW_PORT' | translate}}"
                       port required>
            </div>
        </div>

        <div class="form-group" ng-if="matches['destination-port-range']" show-validation-error>
            <label for="acl_dst_upper_port{{idSuffix}}" class="col-lg-6 control-label small-label">
                {{'SFC_ACL_DST_UPPER_PORT' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm"
                       ng-model="matches['destination-port-range']['upper-port']"
                       id="acl_dst_upper_port{{idSuffix}}" name="dst-upper-port"
                       placeholder="{{'SFC_ACL_CREATE_DST_UPPER_PORT' | translate}}"
                       port>
            </div>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="acl_dscp{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_DSCP' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['dscp']"
                   id="acl_dscp{{idSuffix}}" name="acl-dscp"
                   placeholder="{{'SFC_ACL_CREATE_DSCP' | translate}}"
                   number-range="{from: 0, to: 63}">
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="ip_protocol{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_IP_PROTOCOL' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['protocol']"
                   id="protocol{{idSuffix}}" name="protocol"
                   placeholder="{{'SFC_ACL_CREATE_IP_PROTOCOL' | translate}}"
                   uint8>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label class="col-lg-6 control-label small-label" ui-select2-label="ace-ip-version{{idSuffix}}">
            {{'SFC_ACL_ACE_IP_VERSION' | translate}}
        </label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="ace-ip-version{{idSuffix}}" ui-select2="{allowClear: true}"
                    ng-model="ace_ip" ng-required="true" name="ace-ip-version"
                    data-placeholder="{{'SFC_ACL_CREATE_ACE_IP_VERSION' | translate}}"
                    ng-change="onAceIpChange(ace_ip)">

                <option value=""></option>
                <option ng-repeat="ipv in aclConstants['ace-ip']" value="{{ipv}}">{{ipv}}</option>
            </select>
        </div>
    </div>

    <acl-ip-matches-v4 id-suffix="{{idSuffix}}" matches="matches" ng-if="ace_ip == aclConstants['ace-ip'][0]" reset-on="ace_ip_change" not-reset-condition="{{aclConstants['ace-ip'][0]}}"></acl-ip-matches-v4>
    <acl-ip-matches-v6 id-suffix="{{idSuffix}}" matches="matches" ng-if="ace_ip == aclConstants['ace-ip'][1]" reset-on="ace_ip_change" not-reset-condition="{{aclConstants['ace-ip'][1]}}"></acl-ip-matches-v6>

</div>