<div class="form-horizontal" ng-form="f_ipv4">
    <div class="form-group" show-validation-error>
        <label for="acl_source_ipv4_add{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_SOURCE_IPV4_ADDRESS' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['source-ipv4-network']"
                   id="acl_source_ipv4_add{{idSuffix}}" name="source-ipv4-network"
                   placeholder="{{'SFC_ACL_CREATE_SOURCE_IPV4_ADDRESS' | translate}}"
                   ip-address="{version:4, prefix:true}">
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="acl_dest_ipv4_add{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_ACL_DESTINATION_IPV4_ADDRESS' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="matches['destination-ipv4-network']"
                   id="acl_dest_ipv4_add{{idSuffix}}" name="destination-ipv4-network"
                   placeholder="{{'SFC_ACL_CREATE_DESTINATION_IPV4_ADDRESS' | translate}}"
                   ip-address="{version:4, prefix:true}">
        </div>
    </div>
</div>