<div ng-form="f_options">

    <div class="form-group" show-validation-error>
        <label for="local_ip_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_LOCAL_IP' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['local-ip']"
                   id="local_ip_{{idSuffix}}" name="local_ip"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_LOCAL_IP' | translate}}"
                   >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="remote_ip_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_REMOTE_IP' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['remote-ip']"
                   id="remote_ip_{{idSuffix}}" name="remote_ip"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_REMOTE_IP' | translate}}"
                   >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="dst_port_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_DST_PORT' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['dst-port']"
                   id="dst_port_{{idSuffix}}" name="dst_port"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_DST_PORT' | translate}}"
                   port>
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="tun_key_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_TUN_KEY' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['key']"
                   id="key_{{idSuffix}}" name="key"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_TUN_KEY' | translate}}"
                   >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="nsp_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSP' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nsp']"
                   id="nsp_{{idSuffix}}" name="nsp"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSP' | translate}}"
                   >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="nsi_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSI' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nsi']"
                   id="nsi_{{idSuffix}}" name="nsi"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSI' | translate}}"
                   >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="network_contenxt_header_1_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSHC1' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nshc1']"
                   id="network_contenxt_header_1_{{idSuffix}}" name="nshc1"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSHC1' | translate}}"
                    >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="network_contenxt_header_2_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSHC2' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nshc2']"
                   id="network_contenxt_header_2_{{idSuffix}}" name="nshc2"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSHC2' | translate}}"
                    >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="network_contenxt_header_3_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSHC3' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nshc3']"
                   id="network_contenxt_header_3_{{idSuffix}}" name="nshc3"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSHC3' | translate}}"
                    >
        </div>
    </div>

    <div class="form-group" show-validation-error>
        <label for="network_contenxt_header_4_{{idSuffix}}" class="col-lg-6 control-label small-label">
            {{'SFC_FORWARDER_OPTIONS_NSHC4' | translate}}
        </label>

        <div class="col-lg-6">
            <input type="text" class="form-control input-sm" ng-model="options['nshc4']"
                   id="network_contenxt_header_4_{{idSuffix}}" name="nshc4"
                   placeholder="{{'SFC_FORWARDER_OPTIONS_CREATE_NSHC4' | translate}}"
                    >
        </div>
    </div>

</div>