<div class="col-xs-12" style="padding: 0px">

    <a class="btn btn-info add-row" href="index.html#/sfc/serviceforwarder-create" style="margin-bottom: 25px">
        {{'SFC_FORWARDER_ADD' | translate}}
    </a>
    <a class="btn btn-info add-row" ng-click="rpcCreateOvsBridge()" style="margin-bottom: 25px">
        {{'SFC_FORWARDER_CREATE_OVS_BRIDGE' | translate}}
    </a>

    <button type="button" ng-click="tableParams.sorting({})" class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' |
        translate}}
    </button>

    <script type="text/ng-template" id="customFilters/myFilt.html">
      <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlengh="3" placeholder="search by {{name}}" />
    </script>

    <tabset>
      <tab heading="{{'SFC_SFF_INVENTORY' | translate}}">
        <table ng-table="tableParams" show-filter="true" class="footable table" style="margin-top: 0px">
            <tr ng-repeat="sff in $data track by $index" ng-model="sffs">
                <td data-title="'SFC_FORWARDER_NAME' | translate" sortable="'name'" filter="{name: 'text'}">
                    {{sff['name']}}
                </td>
                <td data-title="'SFC_FORWARDER_SHORT_IP_MGMT_ADDRESS' | translate"
                    sortable="'valueOf()[\'ip-mgmt-address\']'" filter="{ 'ip-mgmt-address': 'text' }">
                    {{sff['ip-mgmt-address']}}
                </td>
                <td data-title="'SFC_FORWARDER_SHORT_REST_URI' | translate" sortable="'valueOf()[\'rest-uri\']'"
                    filter="{ 'rest-uri': 'text' }">
                    {{sff['rest-uri']}}
                </td>
                <td data-title="'SFC_FORWARDER_SERVICE_NODE' | translate" sortable="'valueOf()[\'service-node\']'"
                    filter="{ 'service-node': 'text' }">
                    {{sff['service-node']}}
                </td>
                <td data-title="'SFC_FUNCTION_DATA_PLANE_LOCATOR' | translate"
                    sortable="'valueOf()[\'sff-data-plane-locator-string\']'"
                    filter="{ 'sff-data-plane-locator-string': 'text' }">
                    <span style="color: #1C94C4; cursor: pointer;" ng-repeat="loc in sff['sff-data-plane-locator']"
                          tooltip-placement="bottom"
                          tooltip-html-unsafe="
                              <div style='text-align: left'>
                              {{getLocatorTooltipText(loc['data-plane-locator'])}} <br/>
                              {{getOVStooltipText(loc['ovs-bridge'])}}
                              </div>">

                        {{loc['name']}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td data-title="'SFC_FORWARDER_SF_DICTIONARY' | translate"
                    sortable="'valueOf()[\'service-function-dictionary-string\']'"
                    filter="{ 'service-function-dictionary-string': 'text' }">
                    <span style="color: #1C94C4; cursor: pointer;" ng-repeat="sf in sff['service-function-dictionary']"
                          tooltip-placement="bottom"
                          tooltip-html-unsafe="
                              <div style='text-align: left'>
                              {{'SFC_TOOLTIP_NAME' | translate}}: {{sf['name']}} <br/>
                              {{'SFC_TOOLTIP_TYPE' | translate}}: {{sf['type']}} <br/>
                              {{'SFC_TOOLTIP_FAILMODE' | translate}}: {{sf['failmode']}} <br/>
                              <br/>
                              {{getLocatorTooltipText(sf['sff-sf-data-plane-locator'])}} <br/>
                              {{getOVStooltipText(sf['sff-sf-data-plane-locator']['ovs-bridge'])}}
                              <br/>
                              {{'SFC_TOOLTIP_INTERFACES' | translate}}: {{sffInterfaceToString(sf['sff-interfaces'])}}
                              </div>">

                        {{sf['name']}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td data-title="'SFC_FORWARDER_ACTIONS' | translate">
                    <a ng-click="deleteSFF(sff)">
                        <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                           popover="{{ 'SFC_FORWARDER_DELETE' | translate }}"></i>
                    </a>
                    <a ng-click="editSFF(sff.name)">
                        <i class="icon-edit" style="cursor: pointer" popover-trigger="mouseenter"
                           popover="{{ 'SFC_FORWARDER_EDIT' | translate }}"></i>
                    </a>
                    <a ng-click="cloneSFF(sff)">
                        <i class="icon-copy" style="cursor: pointer" popover-trigger="mouseenter"
                           popover="{{ 'SFC_FORWARDER_CLONE' | translate }}"></i>
                    </a>
                </td>
            </tr>
        </table>
      </tab>
    </tabset>
    <button type="button" ng-click="deleteAll()" class="btn btn-danger pull-right">
        {{'SFC_DELETE_ALL' | translate}}
    </button>
</div>