<form role="form" id="createForm" name="createForm">
<div class="col-md-12" style="padding: 0px">
    <div class="col-md-6 form-horizontal">
        <h3>
            {{'SFC_FUNCTION_SFF' | translate}}
            <sfc-data-template template-data-model="data" default-template-data-model="defaultTemplates['sffDefault']"
                               dialog-id="createServiceForwarder"></sfc-data-template>
        </h3>

        <div class="formElement">
            <div class="form-group" show-validation-error>
                <label for="name" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_NAME' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data.name" id="name" name="name"
                           placeholder="{{'SFC_FORWARDER_CREATE_NAME' | translate}}" required focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group">
                <label for="servicenode" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_SERVICE_NODE' | translate}}
                </label>

                <div class="col-lg-6">
                    <sfc-select2-create-search-choice input-id="servicenode" binding-property="data['service-node']"
                                                      available-options-array="sns" place-holder="SFC_FORWARDER_CREATE_SERVICE_NODE">
                    </sfc-select2-create-search-choice>
                </div>
            </div>

            <div class="form-group">
                <label for="ip-mgmt-address" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_IP_MGMT_ADDRESS' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data['ip-mgmt-address']" id="ip-mgmt-address" name="ip-mgmt-address"
                           placeholder="{{'SFC_FORWARDER_CREATE_IP_MGMT_ADDRESS' | translate}}">
                </div>
            </div>

            <div class="form-group">
                <label for="rest-uri" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_REST_URI' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data['rest-uri']" id="rest-uri" name="rest-uri"
                           placeholder="{{'SFC_FORWARDER_CREATE_REST_URI' | translate}}">
                </div>
            </div>

            <h4 style="padding-left: 30px;">{{'SFC_FORWARDER_OVS_BRIDGE' | translate}}</h4>
            <div class="form-group">
                <label for="bridge_openflow_node_id_{{idSuffix}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_BRIDGE_OPENFLOW_NODE_ID' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data['service-function-forwarder-ovs:ovs-bridge']['openflow-node-id']"
                           id="bridge_openflow_node_id_{{idSuffix}}" name="bridge_openflow_node_id" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="sfc_forwarder_ovs_bridge_name_{{idSuffix}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FORWARDER_BRIDGE_NAME' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-model="data['service-function-forwarder-ovs:ovs-bridge']['bridge-name']"
                           placeholder="{{'SFC_FORWARDER_CREATE_BRIDGE_NAME' | translate}}"
                           id="sfc_forwarder_ovs_bridge_name_{{idSuffix}}" name="ovs_bridge_name">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-md-6 form-horizontal">
    <h3>{{'SFC_FORWARDER_DATA_PLANE_LOCATOR' | translate}}</h3>

    <div class="formElement" ng-form="data_plane_form_{{$index}}" ng-repeat="locator in data['sff-data-plane-locator'] track by $index">
        <div style="text-align: right; margin-bottom: 10px">
            <span class="spanTip">{{ 'SFC_DATA_PLANE_LOCATOR_REMOVE' | translate }}</span>
            <button type="button" class="btn btn-xs btn-danger" ng-click="removeLocator($index)"><i class="icon-minus"></i>
            </button>
        </div>
        <div class="form-group" show-validation-error>
            <label for="data_plane_name_{{$index}}" class="col-lg-6 control-label small-label">
                {{'SFC_FORWARDER_DATA_PLANE_LOCATOR_NAME' | translate}}
            </label>

            <div class="col-lg-6">
                <input type="text" class="form-control input-sm" ng-model="locator['name']"
                       id="data_plane_name_{{$index}}" name="data_plane_name"
                       placeholder="{{'SFC_FORWARDER_DATA_PLANE_LOCATOR_CREATE_NAME' | translate}}" required>
            </div>
        </div>

        <service-locator locator="locator['data-plane-locator']" constants="serviceLocatorConstants" id-suffix="loc_{{$index}}"></service-locator>

        <div style="text-align: right; margin-bottom: 40px" ng-init="function.defineOVSBridge = (locator['ovs-bridge'].uuid.length > 0)">
            <span class="spanTip pull-left">
                <input type="checkbox" ng-model="function.defineOVSBridge" id="existentSf" ng-click="initOVSBridge(locator)">
                {{ 'SFC_FUNCTION_DEFINE_OVS_BRIDGE' | translate }}
            </span>
        </div>
        <div sfc-watch-for-reinit="locator"
             ng-init="locator['ovs-bridge'] = locator['ovs-bridge'] || {};" ng-if="function.defineOVSBridge">
            <!-- <h4 style="padding-left: 30px;">{{'SFC_FORWARDER_OVS_BRIDGE' | translate}}</h4> -->
            <sff-bridge bridge="locator['ovs-bridge']" id-suffix="loc_{{$index}}"></sff-bridge>
            <sff-options options="locator['ovs-options']" id-suffix="loc_{{$index}}"></sff-options>
        </div>

    </div>
    <div style="text-align: right;">
        <span class="spanTip">{{ 'SFC_DATA_PLANE_LOCATOR_ADD' | translate }}</span>
        <button type="button" class="btn btn-xs btn-primary" ng-click="addLocator()"><i class="icon-plus"></i></button>
    </div>
</div>

<div class="col-md-6 form-horizontal">
    <h3>{{'SFC_FORWARDER_SF_DICTIONARY' | translate}}</h3>

    <div class="formElement" ng-form="function_dictionary_{{$index}}"
         ng-repeat="function in data['service-function-dictionary'] track by $index">
        <div style="text-align: right; margin-bottom: 10px">
            <span class="spanTip pull-left">
                <input type="checkbox" ng-model="function.nonExistent" id="existentSf">
                {{ 'SFC_FUNCTION_CREATE_NONEXISTENT' | translate }}
            </span>
            <span class="spanTip">{{ 'SFC_FUNCTION_REMOVE' | translate }}</span>
            <button type="button" class="btn btn-xs btn-danger" ng-click="removeFunction($index)"><i class="icon-minus"></i>
            </button>
        </div>

        <div ng-if="!(function.nonExistent)">
            <div class="form-group" show-validation-error>
                <label ui-select2-label="function_name_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_NAME' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_name_{{$index}}" name="function_name"
                            ui-select2="{allowClear: true}" ng-model="function['name']"
                            ng-required="true" data-placeholder="{{'SFC_FUNCTION_CREATE_SELECT_NAME' | translate}}"
                            ng-change="sfChangeListener(function)">
                        <option value=""></option>
                        <option ng-repeat="sf in sfs" value="{{sf.name}}">{{sf.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="function['name']">
                <label ui-select2-label="function_failmode_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_FAILMODE' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_failmode_{{$index}}" ui-select2="{allowClear: true}" ng-model="function['failmode']"
                            ng-required="false" data-placeholder="{{'SFC_FUNCTION_CREATE_FAILMODE' | translate}}">

                        <option value=""></option>
                        <option ng-repeat="t in serviceFunctionConstants.failmode" value="{{t}}">{{t}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="function['name']">
                <label ui-select2-label="function_sf_dpl_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_SF_DATA_PLANE_LOCATOR' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_dpl_{{$index}}" ui-select2="{allowClear: true}" ng-model="function['sff-sf-data-plane-locator']['sf-dpl-name']"
                            ng-required="false">

                        <option value=""></option>
                        <option ng-repeat="t in chosenSfDpls[function['name']]" value="{{t.name}}">{{t.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="function['name']">
                <label ui-select2-label="function_sff_dpl_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_SFF_DATA_PLANE_LOCATOR' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_f_dpl_{{$index}}" ui-select2="{allowClear: true}" ng-model="function['sff-sf-data-plane-locator']['sff-dpl-name']" ng-required="false">

                        <option value=""></option>
                        <option ng-repeat="t in data['sff-data-plane-locator']" value="{{t.name}}">{{t.name}}</option>
                    </select>
                </div>
            </div>

            <!-- <service-locator-selector function="function" ng-show="function['name']" id-suffix="func_loc_{{$index}}"></service-locator-selector> -->

            <div class="form-group" ng-show="function['name']">
                <label ui-select2-label="function_interfaces_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_SFF_INTERFACES' |translate}}
                </label>

                <div class="col-lg-6">
                    <input type="hidden" class="form-control input-sm" ng-model="function['sff-interfaces']"
                           id="function_interfaces_{{$index}}" ui-select2="selectOptions"
                           data-placeholder="{{'SFC_FUNCTION_SFF_CREATE_INTERFACES' | translate}}">
                </div>

            </div>
        </div>

        <div ng-if="function.nonExistent">
            <div class="form-group" show-validation-error>
                <label for="function_name2_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_NAME' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" id="function_name2_{{$index}}" name="function_name2" required
                           ng-model="function['name']" placeholder="{{'SFC_FUNCTION_CREATE_NAME' | translate}}">
                </div>
            </div>

            <!-- <div class="form-group" show-validation-error>
                <label ui-select2-label="function_type_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_TYPE' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_type_{{$index}}" name="function_type"
                            ui-select2 ng-model="function['type']" ng-required="true"
                            data-placeholder="{{'SFC_FUNCTION_CREATE_TYPE' | translate}}">

                        <option value=""></option>
                        <option ng-repeat="t in serviceFunctionConstants.type" value="{{t}}">{{t}}</option>
                    </select>
                </div>
            </div> -->

            <div class="form-group">
                <label ui-select2-label="function_failmode2_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_FAILMODE' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_failmode2_{{$index}}" ui-select2="{allowClear: true}"
                            ng-model="function['failmode']"
                            ng-required="false"
                            data-placeholder="{{'SFC_FUNCTION_CREATE_FAILMODE' | translate}}">

                        <option value=""></option>
                        <option ng-repeat="t in serviceFunctionConstants.failmode" value="{{t}}">{{t}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="function['name']">
                
                <label for="function_sf_dpl2_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_SF_DATA_PLANE_LOCATOR' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" id="function_dpl2_{{$index}}" name="function_dpl2" 
                           ng-model="function['sff-sf-data-plane-locator']['sf-dpl-name']">
                </div>
                
            </div>

            <div class="form-group" ng-show="function['name']">
                <label ui-select2-label="function_sff_dpl_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_SFF_DATA_PLANE_LOCATOR' | translate}}
                </label>

                <div class="col-lg-6">
                    <select class="form-control input-sm" id="function_f_dpl_{{$index}}" ui-select2="{allowClear: true}" ng-model="function['sff-sf-data-plane-locator']['sff-dpl-name']" ng-required="false">

                        <option value=""></option>
                        <option ng-repeat="t in data['sff-data-plane-locator']" value="{{t.name}}">{{t.name}}</option>
                    </select>
                </div>
            </div>

            <!-- <service-locator constants="serviceLocatorConstants" locator="function['sff-sf-data-plane-locator']" id-suffix="func_loc_{{$index}}"></service-locator> -->

            <div class="form-group">
                <label ui-select2-label="function_interfaces2_{{$index}}" class="col-lg-6 control-label small-label">
                    {{'SFC_FUNCTION_SFF_INTERFACES' | translate}}
                </label>

                <div class="col-lg-6">
                    <input type="hidden" class="form-control input-sm" ng-model="function['sff-interfaces']"
                           id="function_interfaces2_{{$index}}" ui-select2="selectOptions"
                           data-placeholder="{{'SFC_FUNCTION_SFF_CREATE_INTERFACES' | translate}}">
                </div>
            </div>
        </div>

        <!-- <div ng-if="function['sff-sf-data-plane-locator']"
             sfc-watch-for-reinit="function['sff-sf-data-plane-locator']"
             ng-init="function['sff-sf-data-plane-locator']['ovs-bridge'] = function['sff-sf-data-plane-locator']['ovs-bridge'] || {};">
            <h4 style="padding-left: 30px;">{{'SFC_FORWARDER_OVS_BRIDGE' | translate}}</h4>
            <sff-bridge bridge="function['sff-sf-data-plane-locator']['ovs-bridge']"
                        id-suffix="func_loc_{{$index}}">
            </sff-bridge>
        </div> -->

    </div>

    <div style="text-align: right;">
        <span class="spanTip">{{ 'SFC_FUNCTION_ADD' | translate }}</span>
        <button type="button" class="btn btn-xs btn-primary" ng-click="addFunction()"><i class="icon-plus"></i></button>
    </div>
</div>

<div class="col-md-12">
    <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
    <button-cancel type="button" state="main.sfc.serviceforwarder"></button-cancel>
    <span class="error clearfix">{{ error }}</span>
</div>
</form>
