<div class="col-xs-12" style="padding: 0px">

    <div class="col-md-12" style="padding-right: 0px">
        <button type="button"
                ng-click="tableParams.sorting({}); tableParamsSfName.sorting({}); tableParamsSffName.sorting({});"
                class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' | translate}}
        </button>
    </div>

    <tabset>
        <tab heading="{{'SFC_SERVICE_PATHS' | translate}}" select="fetchData()">
            <div style="padding-right: 0px">

                <table ng-table="tableParams" class="footable table" style="margin-top: 0px">
                    <!--<tr ng-hide="sfps.length">-->
                    <!--<td colspan="1" class="centerAlign">No data found</td>-->
                    <!--</tr>-->

                    <!--ui-on-Drop="onSFPdrop($data, sfp)"-->
                    <tr ng-repeat="sfp in $data track by $index" id="{{sfp.name}}~!~{{$index}}">
                        <td data-title="'SFC_PATH' | translate" sortable="'name'"
                            ng-class="getSFPstate(sfp)" effect-me="sfpEffectMe[sfp.name]"
                            style="position: relative">
                            <p>
                            <span class="spanText"><b>{{sfp.name}}</b></span>
                            <span class="spanText" ng-show="sfp['service-chain-name']">
                                ({{ 'SFC_PATH_PARENT_CHAIN' | translate}}: <b>{{sfp['service-chain-name']}}</b>)
                            </span>
                            <span class="spanText" ng-show="sfp['path-id']">
                                ({{ 'SFC_PATH_ID' | translate }}: <b>{{sfp['path-id']}}</b>)
                            </span>
                            <span class="spanText" ng-show="sfp['starting-index']">
                                ({{ 'SFC_PATH_STARTING_INDEX' | translate }}: <b>{{sfp['starting-index']}}</b>)
                            </span>
                            <span ng-show="isSFPstate(sfp, sfpState.EDITED)">
                                <a>
                                    <i class="icon-undo" style="cursor: pointer" ng-click="undoSFPchanges(sfp)"
                                       popover-trigger="mouseenter"
                                       popover="{{ 'SFC_PATH_UNDO_CHANGES' | translate }}"></i>
                                </a>
                            </span>
                            <span ng-show="isSFPstate(sfp, sfpState.PERSISTED)">
                                <a ng-click="deleteSFP(sfp)">
                                    <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                                       popover="{{ 'SFC_PATH_DELETE' | translate }}"></i>
                                </a>
                                <a>
                                    <i class="icon-play-circle" style="cursor: pointer" ng-click="rpcCreateRsp(sfp)"
                                       popover-trigger="mouseenter" popover="{{ 'SFC_RENDERED_PATH_CREATE_RPC' | translate }}"></i>
                                </a>
                            </span>
                            <span ng-show="isSFPstate(sfp, sfpState.EDITED)">
                                <a>
                                    <i class="icon-save" style="cursor: pointer" ng-click="persistSFP(sfp)"
                                       popover-trigger="mouseenter" popover="{{ 'SFC_PATH_PERSIST' | translate }}"></i>
                                </a>
                            </span>
                                <span class="spanText" ng-show="isSFPstate(sfp, sfpState.EDITED)">({{'SFC_PATH_TEMPORARY' | translate}})</span>

                            <span class="pull-right">
                                <span class="spanText" style="margin-right: 20px">
                                    <input type="checkbox" ng-model="sfp['symmetric']" ng-checked="sfp['symmetric']" id="symmetricSFC"
                                                              ng-change="setSFPstate(sfp, sfpState.EDITED)">
                                    {{'SFC_PATH_SYMMETRIC' | translate}}

                                </span>
                                
                                <service-path-classifier ng-if="sfp['symmetric']" symmetric="true" sfp="sfp" classifier-leaf="symmetric-classifier"
                                                         id-suffix="{{$index}}"></service-path-classifier>
                                <service-path-context-metadata-pop-up sfp-state="sfpState" sfp="sfp"
                                                                      context-metadata="contextMetadata"
                                                                      id-suffix="{{$index}}"></service-path-context-metadata-pop-up>
                            </span>
                            </p>
                            <!--<div class="sfc-sf-component"-->
                                 <!--style="width: 18px;">-->
                                <!--<div style="width: 100%; height: 64px;">-->
                                    <!--<div class="arrow-left-part"></div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="connected-apps-container dropcontainer"-->
                                 <!--ui-sortable="sortableOptions"-->
                                 <!--ng-model="sfp['service-path-hop']">-->

                                <!--<div class="sfc-sf-component draggable"-->
                                     <!--ng-repeat="s in sfp['service-path-hop'] track by $index">-->

                                    <!--<div style="width: 100%; height: 64px;">-->
                                        <!--<div class="arrow-right-part"></div>-->
                                        <!--<div class="obr-box" ng-class="getHopClass(s)">-->
                                            <!--<i class="icon-remove"-->
                                               <!--style="cursor: pointer; position: relative; top: 0px; left: 60px;"-->
                                               <!--ng-click="removeSFfromSFP(sfp, $index)"-->
                                               <!--popover-trigger="mouseenter"-->
                                               <!--popover="{{ 'SFC_FUNCTION_DELETE' | translate }}">-->
                                            <!--</i>-->
                                        <!--</div>-->
                                        <!--<wbr>-->
                                        <!--<div class="arrow-left-part"></div>-->
                                    <!--</div>-->

                                    <!--<div style="width: 100%; height: 36px; text-align: center;">-->
                                        <!--<div style="display: inline-block;">-->
                                        <!--<span ng-if="getHopClass(s) == 'sf'" style="color: #1C94C4; cursor: pointer;"-->
                                              <!--tooltip-placement="bottom"-->
                                              <!--tooltip-html-unsafe="-->
                                          <!--{{'SFC_FUNCTION' | translate}} <br/> <br/>-->
                                          <!--<div style='text-align: left'>-->
                                          <!--{{'SFC_TOOLTIP_HOP_NUMBER' | translate}}: {{s['hop-number']}} <br/>-->
                                          <!--{{'SFC_TOOLTIP_SERVICE_INDEX' | translate}}: {{s['service_index']}} <br/>-->
                                          <!--{{'SFC_TOOLTIP_FORWARDER' | translate}}: {{s['service-function-forwarder']}} <br/>-->
                                          <!--{{'SFC_TOOLTIP_TYPE' | translate}}: {{sfs[getSFindexInSFS(s['service-function-name'])].type}} <br/>-->
                                          <!--{{'SFC_TOOLTIP_IP' | translate}}: {{sfs[getSFindexInSFS(s['service-function-name'])]['ip-mgmt-address']}}-->
                                          <!--</div>-->
                                          <!--">-->
                                            <!--{{s['service-function-name']}}-->
                                        <!--</span>-->
                                        <!--<span ng-if="getHopClass(s) == 'sff'" style="color: orange; cursor: pointer;"-->
                                              <!--tooltip-placement="bottom"-->
                                              <!--tooltip-html-unsafe="-->
                                          <!--{{'SFC_FUNCTION_SFF' | translate}} <br/> <br/>-->
                                          <!--<div style='text-align: left'>-->
                                          <!--{{'SFC_TOOLTIP_HOP_NUMBER' | translate}}: {{s['hop-number']}} <br/>-->
                                          <!--{{'SFC_TOOLTIP_SERVICE_INDEX' | translate}}: {{s['service_index']}} <br/>-->
                                          <!--</div>-->
                                          <!--">-->
                                            <!--{{s['service-function-forwarder']}}-->
                                        <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="sfc-sf-component"-->
                                 <!--style="width: 22px;">-->
                                <!--<div style="width: 100%; height: 64px;">-->
                                    <!--<div class="arrow-right-part"></div>-->
                                <!--</div>-->
                            <!--</div>-->

                        </td>
                    </tr>
                </table>
            </div>
            <button type="button" ng-click="deleteAll()" class="btn btn-danger pull-right">
                {{'SFC_DELETE_ALL' | translate}}
            </button>
        </tab>
        <tab heading="{{'SFC_RENDERED_SERVICE_PATHS' | translate}}" select="callBroadcastFromRoot('REN_PATH_FETCH_DATA')">
            <ng-include src="'src/app/sfc/servicepath/renderedservicepath/renderedservicepath.tpl.html'"></ng-include>
        </tab>
    </tabset>
</div>
