<div class="modal-header btn-info">
<h4 class="modal-title">{{'SFC_PATH_MODAL_SELECT_SFF' | translate}} '{{sfName}}'</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group" ng-form="f_select_sff" show-validation-error>
        <label style="color:#444 !important;" for="sff_name" class="col-lg-6 control-label small-label" ui-select2-label="sff_name">
            {{'SFC_FUNCTION_SFF_NAME' | translate}}
        </label>

        <div class="col-lg-6">
            <select class="form-control input-sm" id="sff_name" name="sff_name" ui-select2="{allowClear: true}"
                    ng-model="sffName" ng-required="true"
                    data-placeholder="{{'SFC_PATH_MODAL_CREATE_SELECT_SFF' | translate}}">

                <option value=""></option>
                <option ng-repeat="sff in sffNameList" value="{{sff}}">{{sff}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-orange" ng-disabled="!(!!sffName)" ng-click="save()"><i class="icon-ok-sign"></i> {{'SFC_CHAIN_MODAL_OK' | translate}}</button>
    <button class="btn btn-danger" ng-click="dismiss()"><i class="icon-remove-sign"></i> {{'SFC_CHAIN_MODAL_CANCEL' | translate}}</button>
</div>