*.pyo
*.class
*.pyc
.tox/
**/target
bin/
dist
**/logs
products
repository
workspace
*~
1target
target-ide
.classpath
.project
.settings
MANIFEST.MF
opendaylight/northbound/integrationtest/logs/*
*.ipr
*.iml
*.iws
.idea
xtend-gen
yang-gen-config
yang-gen-sal
classes
out/
.externalToolBuilders
maven-eclipse.xml
.DS_STORE
.metadata
.hg
/target
node_modules/
coverage/
