<div class="col-xs-12" style="padding: 0px">
    <a class="btn btn-info add-row" href="#/sfc/servicenode-create">
        {{ 'SFC_NODE_ADD' | translate }}
    </a>
<span>
    <label for="toggleGraphData">Check to show data from SFF model (otherwise showing SN data)</label>
    <input type="checkbox" ng-model="experimental" ng-change="toggleGraphData()" id="toggleGraphData"/>
</span>

    <div class="sfc-node-main">
        <div ng-class="getSnsGraphClass(sns)" ng-repeat="nodeGraph in snsGraph">
            <div>
                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteServiceNode(nodeGraph.name)"
                        popover-trigger="mouseenter" popover="{{ 'SFC_NODE_DELETE' | translate }}"><i
                        class="icon-trash"></i></button>
                <button type="button" class="btn btn-sm btn-orange" ng-click="editServiceNode(nodeGraph.name)"
                        popover-trigger="mouseenter" popover="{{ 'SFC_NODE_EDIT' | translate }}"><i
                        class="icon-edit"></i></button>
            </div>
            <service-nodes-topology tree-view-data="nodeGraph"></service-nodes-topology>
        </div>
    </div>

</div>