<form role="form" id="createForm" name="createForm">

    <div class="col-md-12 col-lg-12">
        <div class="formElement form-horizontal" ng-form="f_appid">
            <div class="col-md-12 col-lg-12">
                <h3>
                    {{'SFC_IPFIX_APPID_CREATE' | translate}}
                    <sfc-data-template template-data-model="data"
                                       default-template-data-model="defaultTemplates['appIdDefault']"
                                       dialog-id="createAppId"></sfc-data-template>
                </h3>
            </div>


            <div class="form-group" show-validation-error>
                <label for="class_id" class="col-md-4 col-lg-4 control-label small-label">
                    {{'SFC_IPFIX_APPID_CLASSID' | translate}}
                </label>

                <div class="col-md-8 col-lg-8">
                    <select class="form-control input-sm" id="class-id" name="class_id"
                            ui-select2="{allowClear: true}"
                            ng-model="data['class-id']"
                            ng-required="true"
                            data-placeholder="{{'SFC_IPFIX_SELECT_CLASSID' | translate}}">

                        <option value=""></option>
                        <option ng-repeat="cid in classId" value="{{cid['id']}}">{{cid['id']}}-{{cid['name']}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="selector_id" class="col-md-4 col-lg-4 control-label small-label">
                    {{'SFC_IPFIX_APPID_SELECTORID' | translate}}
                </label>

                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['selector-id']"
                           id="selector_id" name="selector-id"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_SELECTOR_ID_PLACEHOLDER' | translate}}" focus-me="{{true}}"
                           uint32>
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="pen" class="col-md-4 col-lg-4 control-label small-label">
                    {{'SFC_IPFIX_APPID_PEN' | translate}}
                </label>

                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['pen']"
                           id="pen" name="pen"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_PEN_PLACEHOLDER' | translate}}" focus-me="{{true}}"
                           uint32>
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="applicationName" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_APPID' | translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['applicationName']" id="applicationName"
                           name="applicationName"
                           placeholder="{{'SFC_IPFIX_CLASSID_CREATE_NAME_PLACEHOLDER' | translate}}" required
                           focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="group" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_APPID_GROUP' | translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['applicationGroupName']" id="group"
                           name="group"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_GROUP_PLACEHOLDER' | translate}}"
                           focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="desc" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_APPID_DESC' | translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['applicationDescription']" id="desc"
                           name="description"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_DESC_PLACEHOLDER' | translate}}"
                           focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="category" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_APPID_CATEGORY' | translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['applicationCategoryName']" id="category"
                           name="category"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_SUBCATEGORY_PLACEHOLDER' | translate}}"
                           focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="category" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_APPID_SUBCATEGORY' | translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data['applicationSubCategoryName']" id="category"
                           name="subcategory"
                           placeholder="{{'SFC_IPFIX_APPID_CREATE_SUBCATEGORY_PLACEHOLDER' | translate}}"
                           focus-me="{{true}}">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12">
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.ipfix"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>