<form role="form" id="createForm" name="createForm">
    <div class="col-md-12 col-lg-12">
        <div class="formElement form-horizontal" ng-form="f_classid">
            <div class="col-md-12 col-lg-12">
                <h3>
                    {{'SFC_IPFIX_CLASSID_CREATE' | translate}}
                    <sfc-data-template template-data-model="data"
                                       default-template-data-model="defaultTemplates['classIdDefault']"
                                       dialog-id="createClassId"></sfc-data-template>
                </h3>
            </div>


            <div class="form-group" show-validation-error>
                <label for="id" class="col-md-4 col-lg-4 control-label small-label">
                    {{'SFC_IPFIX_CLASSID_ID' | translate}}
                </label>

                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data.id"
                           id="id" name="id"
                           placeholder="{{'SFC_IPFIX_CLASSID_CREATE_ID_PLACEHOLDER' | translate}}" focus-me="{{true}}"
                           uint32>
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="name" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_CLASSID_NAME'|translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data.name" id="name"
                           name="name"
                           placeholder="{{'SFC_IPFIX_CLASSID_CREATE_NAME_PLACEHOLDER' | translate}}" required
                           focus-me="{{true}}">
                </div>
            </div>

            <div class="form-group" show-validation-error>
                <label for="desc" class="col-md-4 col-lg-4 control-label small-label">{{'SFC_IPFIX_CLASSID_DESC'|translate}}</label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="form-control input-sm" ng-model="data.description" id="desc"
                           name="description"
                           placeholder="{{'SFC_IPFIX_CLASSID_CREATE_DESC_PLACEHOLDER' | translate}}"
                           focus-me="{{true}}">
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12 col-lg-12">
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.ipfix"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>