<div style="padding-right: 0px" ng-controller="renderedServicePathCtrl">

        <table ng-table="tableParams" class="footable table" style="margin-top: 0px">
            <tr ng-repeat="rsp in $data track by $index" id="{{rsp.name}}~!~{{$index}}">
                <td data-title="'SFC_RENDERED_PATH' | translate" sortable="'name'" style="position: relative">
                    <p>
                    <span class="spanText"><b>{{rsp.name}}</b></span>
                    <span class="spanText" ng-show="rsp['parent-service-function-path']">
                            ({{ 'SFC_RENDERED_PATH_PARENT_SFP' | translate}}: <b>{{rsp['parent-service-function-path']}}</b>)
                    </span>
                    <span class="spanText" ng-show="rsp['path-id'] && rsp['starting-index']">
                        ({{ 'SFC_PATH_ID' | translate }}: <b>{{rsp['path-id']}}</b>, {{ 'SFC_PATH_STARTING_INDEX' | translate }}: <b>{{rsp['starting-index']}}</b>)
                    </span>
                    <span>
                        <a>
                            <i class="icon-remove" style="cursor: pointer" ng-click="rpcDeleteRsp(rsp)"
                               popover-trigger="mouseenter" popover="{{ 'SFC_RENDERED_PATH_DELETE_RPC' | translate }}"></i>
                        </a>
                    </span>

                    <span class="pull-right">
                        <service-path-context-metadata-pop-up sfp-state="sfpState" sfp="rsp" context-metadata="contextMetadata" id-suffix="{{$index}}"></service-path-context-metadata-pop-up>
                    </span>
                    </p>

                    <div class="sfc-sf-component"
                         style="width: 18px;">
                        <div style="width: 100%; height: 64px;">
                            <div class="arrow-left-part"></div>
                        </div>
                    </div>

                    <div class="connected-apps-container dropcontainer">

                        <div class="sfc-sf-component"
                             ng-repeat="s in rsp['rendered-service-path-hop'] track by $index">

                            <div style="width: 100%; height: 64px;">
                                <div class="arrow-right-part"></div>
                                <div class="obr-box" ng-class="getHopClass(s)">

                                </div>
                                <wbr>
                                <div class="arrow-left-part"></div>
                            </div>

                            <div style="width: 100%; height: 36px; text-align: center;">
                                <div style="display: inline-block;">
                                <span ng-if="getHopClass(s) == 'sf'" style="color: #1C94C4; cursor: pointer;"
                                      tooltip-placement="bottom"
                                      tooltip-html-unsafe="
                                  {{'SFC_FUNCTION' | translate}} <br/> <br/>
                                  <div style='text-align: left'>
                                  {{'SFC_TOOLTIP_HOP_NUMBER' | translate}}: {{s['hop-number']}} <br/>
                                  {{'SFC_TOOLTIP_SERVICE_INDEX' | translate}}: {{s['service-index']}} <br/>
                                  {{'SFC_TOOLTIP_FORWARDER' | translate}}: {{s['service-function-forwarder']}} <br/>
                                  {{'SFC_TOOLTIP_TYPE' | translate}}: {{sfs[getSFindexInSFS(s['service-function-name'])].type}} <br/>
                                  {{'SFC_TOOLTIP_IP' | translate}}: {{sfs[getSFindexInSFS(s['service-function-name'])]['ip-mgmt-address']}}
                                  </div>
                                  ">
                                    {{s['service-function-name']}}
                                </span>
                                <span ng-if="getHopClass(s) == 'sff'" style="color: orange; cursor: pointer;"
                                      tooltip-placement="bottom"
                                      tooltip-html-unsafe="
                                  {{'SFC_FUNCTION_SFF' | translate}} <br/> <br/>
                                  <div style='text-align: left'>
                                  {{'SFC_TOOLTIP_HOP_NUMBER' | translate}}: {{s['hop-number']}} <br/>
                                  {{'SFC_TOOLTIP_SERVICE_INDEX' | translate}}: {{s['service-index']}} <br/>
                                  </div>
                                  ">
                                    {{s['service-function-forwarder']}}
                                </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="sfc-sf-component"
                         style="width: 22px;">
                        <div style="width: 100%; height: 64px;">
                            <div class="arrow-right-part"></div>
                        </div>
                    </div>

                </td>
            </tr>

        </table>
            <button type="button" ng-click="vnbar()" class="btn btn-danger pull-left">
                {{'SFC_SERVICE_VNBAR' | translate}}
            </button>
    </div>
