<div class="col-xs-12" style="padding: 0px">
    <a class="btn btn-info add-row" href="index.html#/sfc/servicefunction-create" style="margin-bottom: 25px">
        {{'SFC_FUNCTION_ADD' | translate}}
    </a>

    <button type="button" ng-click="tableParams.sorting({})" class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' |
        translate}}
    </button>

    <tabset>
        <tab heading="{{'SFC_SERVICE_FUNCTIONS_INVENTORY' | translate}}" select="fetchData()">
            <table ng-table="tableParams" show-filter="true" class="footable table" style="margin-top: 0px">
                <!--<tr ng-hide="sfs.length">-->
                <!--<td colspan="6" class="centerAlign">{{'NO_DATA_FOUND' | translate}}</td>-->
                <!--</tr>-->
                <tr ng-repeat="sf in $data track by $index" ng-model="sfs">
                    <td data-title="'SFC_FUNCTION_NAME' | translate" sortable="'name'" filter="{ 'name': 'text' }">
                        {{sf.name}}
                    </td>
                    <td data-title="'SFC_FUNCTION_TYPE' | translate" sortable="'type'" filter="{ 'type': 'select' }"
                        filter-data="sfTypes()">
                        {{sf.type}}
                    </td>
                    <td data-title="'SFC_FUNCTION_IP' | translate" sortable="'valueOf()[\'ip-mgmt-address\']'"
                        filter="{ 'ip-mgmt-address': 'text' }">
                        {{sf['ip-mgmt-address']}}
                    </td>
                    <td data-title="'SFC_FUNCTION_SHORT_REST_URI' | translate" sortable="'valueOf()[\'rest-uri\']'"
                        filter="{ 'rest-uri': 'text' }">
                        {{sf['rest-uri']}}
                    </td>
                    <td data-title="'SFC_FUNCTION_NSH_AWARE' | translate" sortable="'valueOf()[\'nsh-aware\']'"
                        filter="{ 'nsh-aware': 'select' }" filter-data="sfNshAware()">
                        {{sf['nsh-aware']}}
                    </td>
                    <td data-title="'SFC_FUNCTION_DATA_PLANE_LOCATOR' | translate"
                        sortable="'valueOf()[\'sf-data-plane-locator-string\']'"
                        filter="{ 'sf-data-plane-locator-string' : 'text'}">
            <span style="color: #1C94C4; cursor: pointer;" ng-repeat="loc in sf['sf-data-plane-locator']"
                  tooltip-placement="bottom"
                  tooltip-html-unsafe="
                      <div style='text-align: left'>
                      {{getSfLocatorTooltipText(loc)}}
                      </div>">
                    {{loc['name']}}{{$last ? '' : ', '}}
                </span></td>
                    <td width="10%" data-title="'SFC_FUNCTION_ACTIONS' | translate">
                        <!--<a class="row-delete-sf" href="#">-->
                        <!--<i class="icon-edit"></i>-->
                        <!--</a>-->
                        <a ng-click="deleteSF(sf)">
                            <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                               popover="{{ 'SFC_FUNCTION_DELETE' | translate }}"></i>
                        </a>
                        <a ng-click="editSF(sf.name)">
                            <i class="icon-edit" style="cursor: pointer" popover-trigger="mouseenter"
                               popover="{{ 'SFC_FUNCTION_EDIT' | translate }}"></i>
                        </a>
                        <a ng-click="cloneSF(sf)">
                            <i class="icon-copy" style="cursor: pointer" popover-trigger="mouseenter"
                               popover="{{ 'SFC_FUNCTION_CLONE' | translate }}"></i>
                        </a>
			<a ng-click="statsSF(sf)">
                            <i class="icon-bar-chart" style="cursor: pointer" popover-trigger="mouseenter"
                               popover="{{ 'SFC_SF_STATS_LOCATION' | translate }}"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <button type="button" ng-click="deleteAll()" class="btn btn-danger pull-right">
                {{'SFC_DELETE_ALL' | translate}}
            </button>
        </tab>

        <tab heading="{{'SFC_SERVICE_FUNCTIONS_TYPES' | translate}}" select="callBroadcastFromRoot('FETCH_DATA_TYPES')">
            <div ng-controller="serviceFunctionTypeCtrl">
                <table ng-table="tableParams" show-filter="true"
                       class="footable table" style="margin-top: 0px">
                    <!--<tr ng-hide="sfs.length">-->
                    <!--<td colspan="6" class="centerAlign">{{'NO_DATA_FOUND' | translate}}</td>-->
                    <!--</tr>-->
                    <tr ng-repeat="sft in $data track by $index" ng-model="sfts">
                        <td data-title="'SFC_FUNCTION_TYPE' | translate" sortable="'type'" filter="{ 'type': 'select' }"
                            filter-data="sfTypes()">
                            {{sft['type']}}
                        </td>
                        <td data-title="'SFC_FUNCTION_NAME' | translate" sortable="'name'" filter="{ 'name' : 'text' }">
                            {{sft['name']}}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>
</div>
