<form role="form" id="createForm" name="createForm" novalidate>

    <div class="col-md-12" style="padding: 0">
        <div class="col-md-6 form-horizontal">
            <h3>
                {{'SFC_FUNCTION' | translate}}
                <sfc-data-template template-data-model="data" default-template-data-model="defaultTemplates['sfDefault']"
                                   dialog-id="createServiceFunction"></sfc-data-template>
            </h3>

            <div class="formElement">
                <div class="form-group" show-validation-error>
                    <label for="name" class="col-lg-6 control-label small-label">{{'SFC_FUNCTION_NAME' | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="data.name" id="name" name="name"
                               placeholder="{{'SFC_FUNCTION_CREATE_NAME' | translate}}" required focus-me="{{true}}">
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="type" class="col-lg-6 control-label small-label">{{'SFC_FUNCTION_TYPE' | translate}}</label>

                    <div class="col-lg-6">
                        <select class="form-control input-sm" id="type" name="type" ui-select2="{allowClear: true}" ng-model="data.type" ng-required="true"
                                data-placeholder="{{'SFC_FUNCTION_CREATE_TYPE' | translate}}">
                            <option value=""></option>
                            <option ng-repeat="t in serviceFunctionConstants.type" value="{{t}}">{{t}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="ip" class="col-lg-6 control-label small-label">{{'SFC_FUNCTION_IP' | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="data['ip-mgmt-address']" id="ip" name="ip"
                               placeholder="{{'SFC_FUNCTION_CREATE_IP' | translate}}"
                               ip-address>
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="rest_uri" class="col-lg-6 control-label small-label">{{'SFC_FUNCTION_REST_URI' | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="data['rest-uri']" id="rest_uri" name="rest_uri"
                               placeholder="{{'SFC_FUNCTION_CREATE_REST_URI' | translate}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="nshaware" class="col-lg-6 control-label small-label">{{'SFC_FUNCTION_NSH_AWARE' |
                        translate}}</label>

                    <div class="col-lg-6">
                        <select class="form-control input-sm" id="nshaware" ui-select2="{allowClear: true}" ng-model="data['nsh-aware']"
                                ng-required="false"
                                data-placeholder="{{'SFC_FUNCTION_CREATE_NSH_AWARE' | translate}}">
                            <option value=""></option>
                            <option value="true">{{'SFC_TRUE' | translate}}</option>
                            <option value="false">{{'SFC_FALSE' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 form-horizontal">
            <h3>{{'SFC_FUNCTION_DATA_PLANE_LOCATOR' | translate}}</h3>

            <div class="formElement" ng-form="f_data_plane"
                 ng-repeat="locator in data['sf-data-plane-locator'] track by $index">

                <div style="text-align: right; margin-bottom: 10px">
                    <span class="spanTip">{{ 'SFC_DATA_PLANE_LOCATOR_REMOVE' | translate }}</span>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="removeLocator($index)"><i
                            class="icon-minus"></i>
                    </button>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="data_plane_name" class="col-lg-6 control-label small-label">
                        {{'SFC_FORWARDER_DATA_PLANE_LOCATOR_NAME' | translate}}
                    </label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="locator['name']" id="data_plane_name" name="data_plane_name"
                               placeholder="{{'SFC_FORWARDER_DATA_PLANE_LOCATOR_CREATE_NAME' | translate}}" required>
                    </div>
                </div>

                <service-locator id-suffix="{{'_' + $index}}" locator="locator" constants="serviceLocatorConstants"></service-locator>

                <div class="form-group">
                    <label class="col-lg-6 control-label small-label" ui-select2-label="data_plane_sff">
                        {{'SFC_FUNCTION_SFF_NAME' | translate}}
                    </label>

                    <div class="col-lg-6">
                        <sfc-select2-create-search-choice input-id="data_plane_sff" binding-property="locator['service-function-forwarder']"
                                                          available-options-array="sffs" place-holder="SFC_FUNCTION_SFF_CREATE_NAME">
                        </sfc-select2-create-search-choice>
                    </div>
                </div>
            </div>

            <div style="text-align: right;">
                <span class="spanTip">{{ 'SFC_DATA_PLANE_LOCATOR_ADD' | translate }}</span>
                <button type="button" class="btn btn-xs btn-primary" ng-click="addLocator()"><i class="icon-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.servicefunction"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>