<div class="form-group">
    <label for="tlv-flags{{idSuffix}}" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_FLAGS'
        | translate}}</label>

    <div class="col-lg-6" id="tlv-flags{{idSuffix}}">
        <label class="checkbox-inline" style="margin-right: 15px">
            <input type="checkbox" ng-model="r1" ng-true-value="r1" ng-false-value="" ng-change="onFlagChange()">
            r1
        </label>
        <label class="checkbox-inline" style="margin-right: 15px">
            <input type="checkbox" ng-model="r2" ng-true-value="r2" ng-false-value="" ng-change="onFlagChange()">
            r2
        </label>
        <label class="checkbox-inline" style="margin-right: 15px">
            <input type="checkbox" ng-model="r3" ng-true-value="r3" ng-false-value="" ng-change="onFlagChange()">
            r3
        </label>
    </div>
</div>