<form role="form" id="createForm" name="createForm">
    <div class="col-md-12 form-horizontal" style="padding: 0">
        <div class="col-md-6">
            <h3>
                {{'SFC_METADATA_VARIABLE_NAME' | translate}}
                <sfc-data-template template-data-model="data"
                                   default-template-data-model="defaultTemplates['variableMetadataDefault']"
                                   dialog-id="createVariableMetadata"></sfc-data-template>
            </h3>
        </div>
    </div>

    <div class="col-md-12 form-horizontal" style="padding: 0">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="formElement">
                <div class="form-group" show-validation-error>
                    <label for="name" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_NAME' |
                        translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="data['name']" id="name" name="name"
                               placeholder="{{'SFC_METADATA_CREATE_VARIABLE_NAME' | translate}}" required
                               focus-me="{{true}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7"></div>
    </div>

    <div class="col-md-12">
        <h3>{{'SFC_METADATA_VARIABLE_TLV_CREATE' | translate}}</h3>

        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0"
             ng-repeat="tlv in data['tlv-metadata'] track by $index"
             ng-init="tlv['flags'] = tlv['flags'] || {}">
            <div class="formElement form-horizontal" ng-form="tlv_entry_form_{{$index}}">

                <div style="text-align: right; margin-bottom: 10px">
                    <span class="spanTip">{{ 'SFC_METADATA_VARIABLE_TLV_REMOVE' | translate }}</span>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="removeTlv($index)"><i
                            class="icon-minus"></i>
                    </button>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="tlv-class_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_TLV_CLASS'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm" ng-model="tlv['tlv-class']"
                               id="tlv-class_{{$index}}" name="tlv-class"
                               placeholder="{{'SFC_METADATA_CREATE_VARIABLE_TLV_CLASS' | translate}}" required uint16>
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="tlv-type_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_TLV_TYPE'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="tlv['tlv-type']"
                               id="tlv-type_{{$index}}" name="tlv-type"
                               placeholder="{{'SFC_METADATA_CREATE_VARIABLE_TLV_TYPE' | translate}}"
                               required uint8>
                    </div>
                </div>

                <tlv-flags flags="tlv['flags']" id-suffix="'_' + {{$index}}"></tlv-flags>

                <div class="form-group">
                    <label for="tlv-data_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_TLV_DATA'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="tlv['tlv-data']"
                               id="tlv-data_{{$index}}"
                               placeholder="{{'SFC_METADATA_CREATE_VARIABLE_TLV_DATA' | translate}}">
                    </div>
                </div>

                <div class="form-group" show-validation-error>
                    <label for="tlv-length_{{$index}}" class="col-lg-6 control-label small-label">{{'SFC_METADATA_VARIABLE_TLV_LENGTH'
                        | translate}}</label>

                    <div class="col-lg-6">
                        <input type="text" class="form-control input-sm"
                               ng-model="tlv['length']"
                               id="tlv-length_{{$index}}" name="tlv-length"
                               placeholder="{{'SFC_METADATA_CREATE_VARIABLE_TLV_LENGTH' | translate}}"
                               required number-range="{from: 0, to: 32}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div style="text-align: right;">
            <span class="spanTip">{{ 'SFC_METADATA_VARIABLE_TLV_ADD' | translate }}</span>
            <button type="button" class="btn btn-xs btn-primary" ng-click="addTlv()"><i class="icon-plus"></i>
            </button>
        </div>
    </div>

    <div class="col-md-12">
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.metadata"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </div>
</form>