<div class="col-xs-12" style="padding: 0px">
    <div class="col-md-2" style="padding-left: 0px">
        <a style="width: 100%" class="btn btn-info add-row" href="index.html#/sfc/servicefunction-create">
            {{'SFC_FUNCTION_ADD' | translate}}
        </a>
        <table ng-table="tableParamsSfType" class="footable table">
            <!--<tr ng-hide="sfs.length">-->
            <!--<td colspan="3" class="centerAlign">{{'NO_DATA_FOUND' | translate}}</td>-->
            <!--</tr>-->
            <tr ng-repeat="item in $data | unique:'type' track by $index " ng-model="items"
                ui-draggable="true" drag="item" class="draggable">
                <td data-title="'SFC_FUNCTION_TYPE' | translate" sortable="'type'">
                    {{item.type}}
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-10" style="padding-right: 0px">
        <a class="btn btn-info add-row" href="index.html#/sfc/servicechain-create">
            {{'SFC_CHAIN_ADD' | translate}}
        </a>

        <button type="button" ng-click="tableParams.sorting({}); tableParamsSfType.sorting({});"
                class="btn btn-default pull-right">{{'SFC_CLEAR_SORTING' | translate}}
        </button>

        <table ng-table="tableParams" class="footable table">
            <!--<tr ng-hide="sfcs.length">-->
            <!--<td colspan="1" class="centerAlign">{{'NO_DATA_FOUND' | translate}}</td>-->
            <!--</tr>-->
            <tr ng-repeat="sfc in $data track by $index" id="{{sfc.name}}~!~{{$index}}">
                <td data-title="'SFC_CHAIN' | translate" sortable="'name'" ui-on-Drop="onSFCdrop($data, sfc)"
                    ng-class="getSFCstate(sfc)" effect-me="sfcEffectMe[sfc.name]">
                    <p>
                        <span class="spanText"><b>{{sfc.name}}</b></span>
                    <span ng-show="isSFCstate(sfc, sfcState.NEW)">
                        <a>
                            <i class="icon-undo" style="cursor: pointer" ng-click="undoSFCnew(sfc)"
                               popover-trigger="mouseenter" popover="{{ 'SFC_CHAIN_UNDO_NEW' | translate }}"></i>
                        </a>
                    </span>
                    <span ng-show="isSFCstate(sfc, sfcState.EDITED)">
                        <a>
                            <i class="icon-undo" style="cursor: pointer" ng-click="undoSFCchanges(sfc)"
                               popover-trigger="mouseenter" popover="{{ 'SFC_CHAIN_UNDO_CHANGES' | translate }}"></i>
                        </a>
                    </span>
                    <span ng-show="isSFCstate(sfc, sfcState.PERSISTED)">
                        <a ng-click="deleteSFC(sfc)">
                            <i class="icon-remove" style="cursor: pointer" popover-trigger="mouseenter"
                               popover="{{ 'SFC_CHAIN_DELETE' | translate }}"></i>
                        </a>
                        <a>
                            <i class="icon-play-circle" style="cursor: pointer" ng-click="deploySFC(sfc)"
                               popover-trigger="mouseenter" popover="{{ 'SFC_CHAIN_DEPLOY' | translate }}"></i>
                        </a>
                    </span>
                    <span ng-show="isSFCstate(sfc, sfcState.NEW) || isSFCstate(sfc, sfcState.EDITED)">
                        <a>
                            <i class="icon-save" style="cursor: pointer" ng-click="persistSFC(sfc)"
                               popover-trigger="mouseenter" popover="{{ 'SFC_CHAIN_PERSIST' | translate }}"></i>
                        </a>
                    </span>
                    <span class="spanText"
                          ng-show="isSFCstate(sfc, sfcState.NEW)">({{'SFC_CHAIN_NEW' | translate}})</span>
                        <span class="spanText" ng-show="isSFCstate(sfc, sfcState.EDITED)">({{'SFC_CHAIN_EDITED' | translate}})</span>

                    </p>

                    <div class="sfc-sf-component"
                         style="width: 18px;">
                        <div style="width: 100%; height: 64px;">
                            <div class="arrow-left-part"></div>
                        </div>
                    </div>

                    <div class="connected-apps-container dropcontainer"
                         ui-sortable="sortableOptions"
                         ng-model="sfc['sfc-service-function']">

                        <div class="sfc-sf-component"
                             style="width: 104px;"
                             ng-repeat="s in sfc['sfc-service-function'] track by $index">
                            <div style="width: 100%; height: 64px;">
                                <div class="arrow-right-part"></div>
                                <div class="obr-box sf">
                                    <i class="icon-remove"
                                       style="cursor: pointer; position: relative; top: 0px; left: 60px;"
                                       ng-click="removeSFfromSFC(sfc, $index)" popover-trigger="mouseenter"
                                       popover="{{ 'SFC_FUNCTION_DELETE' | translate }}">
                                    </i>
                                </div>
                                <div class="arrow-left-part"></div>
                            </div>
                            <div style="width: 100%; height: 36px; text-align: center;">
                                <div style="display: inline-block;">
                                <span style="cursor: pointer;" easy-editable-textarea="s.name"
                                      buttons="no" e-required onaftersave="setSFCstate(sfc, sfcState.EDITED)"
                                      popover-trigger="mouseenter"
                                      popover="{{ 'SFC_FUNCTION_RENAME' | translate }}"
                                      popover-placement="bottom">{{s.name || 'error'}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sfc-sf-component"
                         style="width: 22px;">
                        <div style="width: 100%; height: 64px;">
                            <div class="arrow-right-part"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button type="button" ng-click="deleteAll()" class="btn btn-danger pull-right">
            {{'SFC_DELETE_ALL' | translate}}
        </button>
    </div>
</div>