<div class="col-md-4">
    <form role="form" id="createForm" name="createForm">
        <div class="form-group" show-validation-error>
            <label for="name">{{'SFC_NODE_NAME' | translate}}</label>
            <input type="text" class="form-control input-sm" ng-model="data.name" id="name" name="name" placeholder="{{'SFC_FUNCTION_CREATE_NAME' | translate}}" required focus-me="{{true}}">
        </div>

        <div class="form-group" show-validation-error>
            <label for="ip">{{'SFC_NODE_IP' | translate}}</label>
            <input type="text" class="form-control input-sm" ng-model="data['ip-mgmt-address']" id="ip" name="ip" placeholder="{{'SFC_NODE_CREATE_IP' | translate}}"
                   ip-address required>
        </div>

        <div class="form-group">
            <label for="sfs">{{'SFC_NODE_FUNCTIONS' | translate}}</label>
            <select class="form-control input-sm" id="sfs" ui-select2 multiple ng-model="data['service-function']" data-placeholder="{{'SFC_NODE_CREATE_FUNCTIONS' | translate}}">
                <option ng-repeat="sf in sfs" value="{{sf.name}}">{{sf.name}}/{{sf.type}}/{{sf['ip-mgmt-address']}} </option>
            </select>
        </div>
        <button-submit type="submit" form="createForm" function="submit" label="{{'SFC_SAVE' | translate}}"></button-submit>
        <button-cancel type="button" state="main.sfc.servicenode"></button-cancel>
        <span class="error clearfix">{{ error }}</span>
    </form>

</div>